@model SimpleSocialMediaPlatform.Models.Comments

@{
    ViewData["Title"] = "Create Comment";
    var userId = @ViewData["UserID"] as string;
}
<h1>Create</h1>
<h4>Comments</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Body" class="control-label"></label>
                <input asp-for="Body" class="form-control" />
                <span asp-validation-for="Body" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label">User ID</label>
                <input asp-for="UserId" class="form-control" value="@userId" readonly />
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PostId" class="control-label">Post ID</label>
                <input asp-for="PostId" class="form-control" value="@ViewData["PostID"]" readonly />
                <span asp-validation-for="PostId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="ImageFile" class="control-label">Upload Image</label>
                <input type="file" id="ImageFile" name="ImageFile" class="form-control" accept="image/*" />
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
